name: Auto PR

on:
    push:
        branches:
            - dev

jobs:
    auto-pr:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Create Pull Request
              uses: repo-sync/pull-request@v2
              with:
                  source_branch: "dev"
                  destination_branch: "main"
                  pr_title: "Auto PR: dev -> main"
                  pr_body: "Automated Pull Request from dev to main."
                  github_token: ${{ secrets.TOKEN_GITHUB }}
